@import "../fonts/fonts";

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}

html {
	height: 100%;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: $minWidth + px;
	height: 100%;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: rem(24);
	font-weight: $fw-medium;
	color: $primary;
	background-color: $bgColor;
}

* {


	&::-webkit-scrollbar-track {
		background-color: $whiteColor;
		border-radius: rem(100);
	}

	&::-webkit-scrollbar {
		width: rem(17);
		background-color: $whiteColor;
	}

	&::-webkit-scrollbar-thumb {
		border: rem(5) solid transparent;
		border-radius: rem(100);
		background-color: $primaryLightest5;
		background-clip: content-box;
	}
}

input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}




