// Заголовки, общие БЄМ блоки и проче...

h1, .h1 {
    font-size: rem(24);
    line-height: rem(32);
    font-weight: $fw-medium;

    @include tablet {
        font-size: rem(20);
        line-height: rem(28);
    }
}

h2, .h2 {
    font-size: rem(24);
    line-height: rem(32);
    font-weight: $fw-light;

    @include tablet {
        font-size: rem(18);
        line-height: rem(24);
    }
}

h3, .h3 {
    font-size: rem(17);
    line-height: rem(24);

    @include tablet {
        font-size: rem(16);
        line-height: rem(24);
    }
}

h4, .h4 {
    font-size: rem(15);
    line-height: rem(24);
    font-weight: $fw-medium;

    @include tablet {
        font-size: rem(14);
        line-height: rem(20);
    }
}

.page {
    width: 100%;
    display: flex;
    column-gap: rem(24);

    .left {
        flex: 0 1 rem(264);
    }

    .content {
        flex: 0 1 rem(552);
        padding: rem(32) rem(40);
        background-color: $whiteColor;
        border-radius: $borderRadius;
    }

    .right {
        flex: 0 1 rem(264);
        padding: rem(24);
        background-color: $whiteColor;
        border-radius: $borderRadius;
    }

    @include tablet {
        .left {
            flex: 0 1 rem(216);
        }

        .content {
            flex: 1 1 auto;
        }

        .right {
            display: none;
        }
    }

    @include mobile {
        flex: none;

        .content {
            padding: rem(24) rem(32);
            flex: none;
            width: 100%;
        }

        .left {
            display: none;
        }
    }
}

.nav {
    padding: rem(24);
    background-color: $whiteColor;
    border-radius: $borderRadius;

    &__wrap {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        margin-bottom: rem(16);
        padding: rem(8) rem(16);
        background-color: $primaryLightest3;
        border-radius: rem(4);
        font-size: rem(15);
        line-height: rem(24);
        color: $primaryLight;
    }

    &__list {
        padding: rem(0) rem(16); 
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(10);
        color: $primaryLighter;        
        font-weight: 400;
        transition: color .2s;
        cursor: pointer;

        &:hover, &:active, &:focus {
            color: $primary;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }


    &__btn {
        width: 100%;
        min-height: rem(48);
    }
}


// Кнопки

.btn {
    border-radius: 4px;
    font-size: rem(15);
    line-height: rem(24);
    font-weight: 400;
    transition: background-color .2s, color .2s, border-color .2s;

    &_grey {
        border: 1px solid $primaryLightest2;
        background-color: $primaryLightest;
    }

    &_blue {
        color: $whiteColor;
        background-color: $blueLighter;

        &:hover {
            background-color: $blueLightest;
        }

        &:active {
            background-color: $blueLight;
        }

        &:focus {
            outline: 1px dashed $primaryLighter;
        }        
    }

    &_green {
        color: $whiteColor;
        background-color: $greenLight;

        &:hover {
            background-color: $greenLighter;
        }

        &:active {
            background-color: $green;
        }

        &:focus {
            outline: 1px dashed $blueLightest;
        }        
    }

    &_disabled {
        background-color: $primaryLightest3;
    }
}

.append {
    display: flex;
    justify-content: space-between;

    &__title {
        margin-bottom: rem(8);
    }

    &__descr {

    }
}

// Avatar-add-btn

.avatar-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(14);
    width: rem(120);
    height: rem(120); 
    border: 1px solid $blueLightest1;
    background-color: $blueLightest1;
    border-radius: rem(20);
    outline: none; 
    transition: background-color 0.2s, border-color 0.2s;

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        font-size: rem(13);
        line-height: rem(18);
        font-weight: 500;
        text-align: center;
        color: $whiteColor;
        border-radius: 50%;              
        z-index: 0;      

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url("@img/icons/avatar-empty.svg") no-repeat center;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: transparentize($blueLighter, 0.5);
            border-radius: 50%;    
            z-index: -2;
            transition: background-color 0.2s;
        }
    }

    &:hover {        
        border: 1px solid transparent;
        background-color: transparentize($blueLighter, 0.7);

        .avatar-add-btn__text {
            &::after {
                background-color: transparentize($blueLighter, 0.2);
            }           
        }
    }

    &:active {
        outline: none;
        border: 1px solid transparent;
        background-color: transparentize($blueLighter, 0.5);

        .avatar-add-btn__text {
            &::after {
                background-color: transparentize($blueLighter, 0.2);
            }           
        }
    }

    &:focus {
        outline: none;
        border: 1px solid transparentize($blueLighter, 0.5);
        background-color: transparentize($blueLighter, 0.7);

        .avatar-add-btn__text {
            &::after {
                background-color: transparentize($blueLighter, 0.2);
            }           
        }
    }
}