//====================================================================================================

//====================================================================================================

.footer {
    margin-top: rem(32);
    flex: 0 0 auto;
	padding-top: rem(25);
	padding-bottom: rem(25);
	background-color: $primaryLight;
}
